*{
    padding: 0px;
    margin: 0px;
}
.nav-container{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #9b9898;
    color: white;
}


.items{
    display: flex;
    list-style: none;
}
.item{
    font-size: 22px;
    font-weight: 700;
    padding: 5px;
    margin-right: 10px;
}
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url('./asset/image/background.jpg');
     background-color: #454545;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.title-banner{
    font-size: 85px;
}
.primary{
    color: orangered;
}
.description{
    font-size:22px;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}
.btn{
    border: none;
    padding: 15px 30px;
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
.btn-discover{
    color: white;
    background-color: orangered;
}


.service-container{
    width: 100%;
    height: 100vh;
    background-image: url('./asset/image/footer-bg.png');
    background-color: black;
    background-blend-mode: overlay;
    color: white;
    padding-bottom: 50px;
}
.service-btn{
    border-radius: 25px;
    margin-top: 90px;
    margin-bottom: 30px;
    color: gray;
}
.service-title{
    font-size: 50px;
}
.service-description{
    font-size: 20px;
    width: 50%;
    padding: 20px;
}
ol{
    list-style-type:square;
    color: white;
    margin-left: 10px;
    
}
.author-details{
    display: flex;
    align-items: center;
   
}
.author-image-des{
    display: flex;
    align-items: center;
    padding:20px;
    border-right: 1px solid orangered;
    height: 70px;
}
.author-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.head5{
    padding-left: 10px;
    padding-right: 100px;
}
.more-details{
    padding-left: 20px;
 
}
.btn-more{
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 18px 30px;
    color: orangered;
    font-size: 15px;
    font-weight: 400;
   
}
.service{
    padding: 40px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 200px;
    height: 200px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 15px;
}
.service-container{
    display: flex;
}
.service-logo{
    width: 50%;
    padding-bottom: 10px;
}
.service-up{
    display: flex;
}
.service-down{
    display: flex;
}
.phn-call{
    width: 50px;
}
.get-consultation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: white;
    width: 75%;
    padding: 60px;
    margin: auto;
    border-radius: 15px;
    padding-bottom: 40px;
    margin-top: -70px;
}
.mpoint{
    background-color: white;
    color: black;
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}
.news-us{
    text-align: center;
    padding-top: 40px;
    font-size: 60px;
}
.sinta{
    text-align: center;
   font-size: 25px;
   width: 50%;
   padding-left: 350px;
   padding-top: 8px;
   padding-bottom: 40px;
}
.bloga-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: centerS;
    margin-bottom: 30px;
    margin-left: 350px;
    gap: 25px;
    padding-left: 10px;
}
.blog-title{
    font-size: 20px;
    font-weight: 700;
    padding-right: 2px;
}
.img-blog{
    height: 200px;
    width:200px;
}
.blog{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
   
   
    
}
.footer-container{
    width: 100%;
    height: 40vh;
    background-color: black;
    color: white;
    display: flex;
    gap: 25px;
    padding: 80px 60px 100px 90px ;
}
.auctor{
    width: 40%;
}
.footer-container ul{
    list-style: none;
}
.common-h{
    padding-bottom: 30px;
}
.logo-social{
    padding-left: 70px;

}
.links{
    margin-left: -290px;
}
 .sub-footer{
   text-align: center;
   color: white;
   margin-top: -100px;
   width: 60%;
   padding-left: 230px;
 }